// General variables ----
$default-fonts  : "Helvetica", Arial, sans-serif;
$base-font-name : 'Source-Sans';
// ----------------------

// Fonts path -----------
$fonts-path      : '../fonts/';

$fonts-data : (
        $base-font-name : (
                1: ('source-sans_pro/', 'Source Sans Pro Light', 'Source-Sans-Pro-Light', 'SourceSansProLight', 300),
                2: ('source-sans_pro/', 'Source Sans Pro', 'Source-Sans-Pro', 'SourceSansPro', 400),
                3: ('source-sans_pro/', 'Source Sans Pro Semibold', 'Source-Sans-Pro-Semibold', 'SourceSansProSemibold', 600),
                4: ('source-sans_pro/', 'Source Sans Pro Bold', 'Source-Sans-Pro-Bold', 'SourceSansProBold', 700)
        )
);
// ----------------------

// Fonts family variables
$base-font-size   : 62.5%; // 10px

// Typography -----------
@function line_height($lh, $fs) { // lh - line-height, fs - font-size
  @return $lh / $fs; // value float or integer
}

$size-body: (
        null   : (1.6rem, line_height(20, 16)), // 'font-size', 'line-height'
        medium : (1.6rem, line_height(22, 16))
);

$size-h1: (
        null   : (3.2rem, line_height(40, 32), 2rem), // 'font-size', 'line-height', 'margin-value'
        medium : (4rem, line_height(45, 40), 2.2rem),
        xlarge : (4.8rem, line_height(50.4, 48), 2.2rem)
);

$size-h2: (
        null   : (2.6rem, line_height(30, 26), 2rem),
        medium : (3.2rem, line_height(40, 32), 2.2rem),
        xlarge : 3.6rem
);

$size-h3: (
        null   : (2.2rem, line_height(25, 22), 2rem),
        medium : (2.4rem, line_height(30, 24), 2.2rem),
        xlarge : 2.8rem
);

$size-h4: (
        null   : (1.8rem, line_height(20, 18), 2rem),
        medium : (1.8rem, line_height(22, 18), 2.2rem)
);

$size-h5: (
        null   : (1.6rem, line_height(20, 16), 2rem),
        medium : (1.6rem, line_height(22, 16), 2.2rem)
);

$size-h6: (
        null   : (1.4rem, line_height(20, 14), 2rem),
        medium : (1.4rem, line_height(22, 14), 2.2rem)
);

$size-q: (
        null   : (2rem, line_height(25, 20)),
        medium : (2.4rem, line_height(35, 24))
);
// ----------------------
