// Default --------------
$black : #000 !default;
$white : #fff !default;
// -----------------------

// Base ------------------
$base-bg     : $white;
$base-text   : #000;
$base-link   : #000;
$base-border : #aeaeae;
// -----------------------

// Blue ------------------
$blue-1: #eff3f7;
$blue-2: #3498db;
$blue-3: #008CBA;
$blue-7: #3ab4c0;
// -----------------------


// Grey ------------------
$grey-1: #f5f6f8;
$grey-2: #ddebf4;
$grey-3: #aeaeae;
$grey-4: #f2f0f3;
// -----------------------


// Red ------------------
$red-1: red;
$red-2: #f44336;
// -----------------------

// Green ------------------
$green-1: #5ac348;
$green-2: #4CAF50;
// -----------------------

// Yellow -----------------
$yellow-4: #ffdf16;
// -----------------------

